body{
  margin: 0px auto;
  background-image: url("../images/2.png");
  background-position: center;
  background-size: cover;
}

.data-container{
  display: flex;
  flex-direction: row;
  position: absolute;
}

.data-container h2{
  background-color: hsl(0, 1%, 36%);
  margin: 10px 20px;
  padding: 5px;
  color: white;
}

.items{
  width: 40vw;
  margin: auto;
  padding: 20px;
}

.items .line .item{ 
  margin: 0px 15px;
  border-radius: 5px;
  text-align: center;
}


.board{
  width: 40vw;
  background-color: antiquewhite;
  margin: 0px auto;
}

.line{
  display: flex;
}

.board .line .item{
  margin: 10px auto;
  border: 1px solid palevioletred;
  border-radius: 5px;
}
  
.line img{
  width: 100px;
  height: 100px;
}

#alertx {
  padding: 20px;
  position:absolute;
  background-color: #f44336; 
  color: white;
  margin-bottom: 15px;
  transform: translate(-50%,-50%);
  top:51%;
    left:50%;
    border-radius: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    width:500px;
    height:250px;
    display: none;

}



.bt{
width:70%;
display:block;
margin:5px auto;
border-radius: 5px;
height:40px;
background-color: white;
cursor:pointer;
font-size:20px;
font-family:"Comic Sans MS" ;
font-weight: bolder;
border:none;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
.bt:hover{
  background-color: rgb(247, 239, 239);;
}
a{
  text-decoration: none;
  color: #f44336;
}
#finish{
text-align: center;
font-family: "Comic Sans MS";
font-size:3em;
font-weight: 1000;
font-variant: small-caps;
margin-bottom: 30px;
margin-top:15px;
}
